<div class="container">
    <div class="card">
        <div class=" card-body" style="float:left; padding-left: 15%;">
            <p class="card-title"><b>Name</b> : {{name}}</p>
            <p class="card-title"><b>Salary</b> : {{salary}}</p>
            <p class="card-title"><b>Department</b> : {{department}}</p>
            <a href="#" class="btn btn-success">Edit</a>
            <span style="margin: 2%;"></span>
            <a href="#" class="btn btn-danger" (click)="onDelete()">Delete</a>
        </div>
    </div>
</div>