<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">SALARY</th>
                <th scope="col">DEPARTMENT</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <th scope="row">{{employee.id}}</th>
                <td>{{employee.name}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.department}}</td>
            </tr>
        </tbody>
    </table>
</div>