<div class="outer">
    <div class="inner">
        <div class="prod-left">
            <h1 class="prod-head"><span style="color:#0f457f">HRMS APP</span> Welcome</h1>
        </div>
        <div class="prod-right">
            <img src="https://github.com/abhinanduN/codepen/blob/master/human-image.png?raw=true" class="prod-human-img"
                alt="prod" />
        </div>
    </div>
</div>
<script>
    $(".prod-logo").hover(function () {
        $(".inner").addClass("inner-hover");
        $(".nav-li").slideDown(500);
    },
        function () {
            $(".inner").removeClass("inner-hover");
            $(".nav-li").slideUp(500);
        }
    );
</script>